#main
{
	position: absolute;
	left: 27vw;
	top: 13vh;
	display: flex;
	flex-direction: column;
	height: 70vh;
	width: 50vw;
	background-color: black;
	align-items: center;
	justify-content: space-evenly;
}
#screen
{
	background-color: rgb(138, 18, 18);
	height: 20%;
	width: 98%;
	color: white;
	text-align: right;
	font-size: large;
}
#keypad
{
	width: 98%;
	height: 70%;
	background-color: gray;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.child {
	width: calc(25% - 20px);
	margin: 8px;
  }
  .zerobtn{
	width: calc(50% - 20px);
  }